body{
    font-family: 'PT Sans', sans-serif;
    color: #575757;
    margin: 0 auto;
}
h1{
    font-size: 65px;
    font-weight: 800;
    line-height: 75px;
}
h2{
    font-size: 50px;
    margin: 0;
}
h3{
    font-size: 25px;
    font-weight: 600;
    margin: 10px 0;
}
p{
    line-height: 25px;
}
.orange-color{
    color: #ff575a;
}
.flexible-container{
    margin-bottom: 30px;
    display: flex;
}
#background-image{
    background-image: url(images/background-image.png);
    background-repeat: no-repeat;
}
#background-image .half-width img{
    width: 50%;
    padding-left: 100px;
}
.half-width{
    width: 50%;
    padding: 80px 20px 10px 200px;
}
.half-width img{
    width: 85%;
    padding:5px 20px;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(#ff575a, #f36e83);
    padding: 12px 26px;
    border-radius: 30px;
    color: white;
    font-weight: 550;
    box-shadow: 2px 2px 10px #f36e8298;
}
.about-me{
    width: 50%;
    padding-top: 30px;
    padding-right: 200px;
}
.my-recipies h3{
    text-align: center;
    margin-top: 50px;
}
.my-recipies p{
    text-align: center;
    padding: 0 450px;
}
.food-1{
    width: 50%;
    padding-left: 40px;
    padding-right: 40px;
}
.foods{
    display: flex;
    width: 80%;
    margin: 0 auto;
}
.food-itmes{
    width: 100%;
    margin: 30px;
    padding: 36px;
    border-radius: 25px;
    box-shadow: 10px 10px 20px rgba(165, 165, 165, 0.507);
}
.food-itmes img{        
    width: 100%;
    border-radius: 20px;
}
#followers{
    width: 76%;
    margin: 40px auto;
    display: flex;
    box-shadow: 10px 10px 20px rgba(165, 165, 165, 0.507);
    border-radius: 20px;
}
#followers h2 p{
    text-align: center;
}
#followers .followers-box{
    padding: 0 128px;
    margin: 30px;
}
#services{
    background-color: #fef2f4;
    padding-top: 10px;
    padding-bottom: 60px;
}
#services h3{
    text-align: center;
    margin: 40px 0;
}
#services .icons{
    display: flex;
    width: 80%;
    margin: 0 auto;
}
#services .icon{
    margin: 0 40px;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 10px 10px 20px rgba(165, 165, 165, 0.507);
}
#services .icon img{
    width: 100%;
    border-radius: 30px;
}
#services .icon h4{
    text-align: center;
    font-size: 20px;
}
#services .icon p{
    text-align: center;
    padding: 0 20px;
}
.footer{
    text-align: center;
    margin-top: 60px;
    color: white;
    padding-top: 10px;
    padding-bottom: 60px;
    background-color: #131625;
}